@font-face {
  font-family: 'Nerd Symbols';
  src: url('../_fonts/nerd-symbols-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nerd Symbols Mono';
  src: url('../_fonts/nerd-symbols-mono.woff2') format('woff2');
}
